@font-face {
	font-family: "ArgentPixel";
	src:
	  url("../font/ArgentPixelCF-Regular.ttf") format("TrueType");
}

@font-face {
	font-family: "Mondwest";
	src:
	  url("../font/PPMondwest-Regular.otf") format("OpenType");
}

@font-face {
	font-family: "NeueBit";
	src:
	  url("../font/PPNeueBit-Bold.otf") format("OpenType");
}

.font--neue {
	font-family: "NeueBit", Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
}

.font--argent {
	font-family: "ArgentPixel", Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
}

.font--mondwest {
	font-family: "Mondwest", Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
}

.text--shadow {
	text-shadow: 0 0 1px black;
}

.bg--main {
	background-image: url(../public/background--main.png);
	background-size: cover;
}

.bg--404 {
	background-image: url(../public/background--404.png);
	background-size: cover;
}

.bg--polka {
	background-image: radial-gradient(#F9FBFF 20%, transparent 20%); 
	background-size: 10px 10px;
}

.focus--light {
	--bs-focus-ring-color: rgba(var(--bs-light-rgb), .75);
}

::-webkit-scrollbar {
	width: 0.5vw;
	height: 0.20vh;
  }
  
  ::-webkit-scrollbar-thumb {
	background-color: #D83E1C;
  }
  
  ::-webkit-scrollbar-track {
	background-color: #f1f1f1;
  }

.animation--updown {
    -webkit-animation: updown 1s infinite  alternate;
    animation: updown 1s infinite  alternate;
}

@-webkit-keyframes updown {
    0% { transform: translateY(0); }
    100% { transform: translateY(1vh); }
}

@keyframes updown {
    0% { transform: translateY(0); }
    100% { transform: translateY(1vh); }
}
