<div class="vh-100 vw-100 bg--404">
	<div class="d-flex flex-column p-5 gap-5 h-100 w-100 mh-100 mw-100 border border-0 border-white">
		<div class="d-flex flex-column h-50 w-100 border border-0 border-white">
			<div class="d-flex flex-row h-75 gap-5 border border-0 border-white">
				<p class="d-flex p-0 display-1 text-white font--mondwest border border-0 border-white" style="font-size: calc(100% + 18vw);">
					404
				</p>
				<p class="d-flex p-0 align-items-center display-1 text-white font--mondwest border border-0 border-white" style="font-size: calc(100% + 12vw);">
					:(
				</p>
			</div>
			<p class="d-flex p-0 align-items-center display-1 w-50 text-white font--mondwest border border-0 border-danger" style="font-size: calc(100% + 1vw);">
				Your PC ran into a problem and could not find the page.
				We’re just collecting some error information, and then we’ll restart
				for you.
			</p>
			<p class="d-flex p-0 align-items-center display-1 w-50 text-white font--mondwest border border-0 border-danger" style="font-size: calc(100% + 1vw);">
				99% complete
			</p>
		</div>
		<div class="d-flex flex-row h-50 w-100 gap-5 border border-0 border-white">
			<p class="d-flex p-0 display-1 w-50 text-white font--mondwest border border-0 border-white" style="font-size: calc(100% + 7vw);">
				page not <br />
				found
			</p>
			<div class="d-flex flex-column gap-5 border border-0 border-white">
				<p class="d-flex w-75 p-0 display-1 text-white font--mondwest border border-0 border-white" style="font-size: calc(100% + 1vw);">
					For more information about the issue and possible fixes, visit the Qr Code.
				</p>
				<div class="d-flex flex-row gap-5">
					<div class="col-3 p-0">
						<div class="ratio ratio-1x1">
							<img src="https://picsum.photos/id/237/200/300" alt="easter egg gif qr code" class="object-fit-cover img-fluid"/>
						</div>
					</div>
					<div class="d-flex flex-column">
						<p class="d-flex p-0 display-1 w-50 text-white font--mondwest border border-0 border-white" style="font-size: calc(100% + 0.5vw);">
							if you call a support person, give them the info 
							<br />
							<br />
							Stop code: PANDA_EATS_BAMBOO
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>