<!DOCTYPE html>
<html>
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	</head>
	<body>
		<div class="container border">
			<div class="row row-cols-4 justify-content-center">
				<div class="col-auto border border-1 border-dark">
					<img src="https://cdn.pixabay.com/photo/2015/06/22/08/40/child-817373_1280.jpg" style="width: 100px; height:100px; border-radius: 50%;">
				</div>
				<div class="col-4 border border-1 border-dark">
					<div class="row justify-content-left text-uppercase"><h4>username</h4></div>
					<div class="row justify-content-left text-uppercase"><a>online status</a></div>
					<div class="row justify-content-left text-uppercase"><h5>ranking</h5></div>
				</div>
				<div class="col-auto border border-1 border-dark"><button class="h-100 w-100 btn btn-primary text-capitalize" type="button">add friend</button></div>
				<div class="col-auto border border-1 border-dark"><button class="h-100 w-100 btn btn-info text-capitalize" type="button">view profile</button></div>
			</div>
		</div>
		<!-- <div class="min-vw-100">Min-width 100vw</div>
		<div class="min-vh-100">Min-height 100vh</div>
		<div class="vw-100">Width 100vw</div> -->
		<!-- <div class="vh-100">Height 100vh</div> -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</body>
</html>