<!DOCTYPE html>
<html>
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<div class="row p-0 g-0">
				<div class="col border border-1 border-dark ratio ratio-1x1">
					<!-- <img class="img-fluid mh-10 mw-10" src="https://cdn.pixabay.com/photo/2015/06/22/08/40/child-817373_1280.jpg"> -->
					<div class="ratio ratio-1x1" style="background-color: rebeccapurple;">
						<img src="https://cdn.pixabay.com/photo/2015/06/22/08/40/child-817373_1280.jpg" class="img-fluid rounded-circle" alt="...">
					</div>
				</div>
				<div class="col-6 border border-1 border-dark overflow-auto mh-100 mw-50">
					<ul class="list-group">
						<li class="list-group-item justify-content-left text-uppercase"><h4>username</h4></li>
						<li class="list-group-item justify-content-left text-uppercase"><a>online status</a></li>
						<li class="list-group-item justify-content-left text-uppercase"><h5>ranking</h5></li>
					</ul>
				</div>
				<div class="col border border-1 border-dark ratio ratio-1x1">
					<button class="h-100 w-100 btn btn-primary text-capitalize" type="button">add friend</button>
				</div>
				<div class="col border border-1 border-dark ratio ratio-1x1">
					<button class="h-100 w-100 btn btn-info text-capitalize" type="button">view profile</button>
				</div>
			</div>
		</div>
		<!-- <div class="container">
			<div class="row h-25 border border-1 border-dark g-0 p-0">
				<div class="col" style="background-color: violet;">
					<div class="ratio ratio-1x1">
						<img src="https://cdn.pixabay.com/photo/2015/06/22/08/40/child-817373_1280.jpg" class="img-fluid rounded-circle" alt="...">
					</div>
				</div>
				<div class="col-11" style="background-color: violet;">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row" style="background-color: blue; height: 25vh;"></div>
		</div> -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</body>
</html>