

<div class="container-fluid min-vh-100 d-flex flex-row border border-0 border-light justify-content-center">
	<div
		class="flex-column d-flex border border-0 border-dark flex-grow-1 align-items-start justify-content-end">
		<div class="container-fluid d-flex border border-0 border-dark justify-content-end">
			<img class="py-5 mx-5" src="../assets/public/el--ball.png">
		</div>
		<div class="d-flex border border-0 border-dark">
			<img class="py-5 mx-5" src="../assets/public/el--paddle.png">
		</div>
	</div>
	<div
		class="d-flex flex-column border border-0 border-dark flex-grow-1 justify-content-center align-items-center">
		<h1 class="display-1 font--neue text-white" style="font-size: 160px;">☺</h1>
		<h1 class="display-4 font--argent text-white">PongOs</h1>
		<button type="button" class="btn btn-light btn-lg px-3 py-1 rounded-1" onClick="handle42Auth()">
			<a style="text-decoration: none;" href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-69155ca3ecf1f57fa6e8660a9988bbdd7f03a45128ea80a454d6f13939c4bca5&redirect_uri=https%3A%2F%2F10.12.3.3%3A8090%2F&response_type=code">
				<p class="font--argent p-0 m-0 g-0">Unlock</p>
			</a>
		</button>
	</div>
	<div
		class="flex-column d-flex border border-0 border-dark flex-grow-1 align-items-end justify-content-start">
		<div class="d-flex border border-0 border-dark">
			<img class="py-5 mx-5" src="../assets/public/el--paddle.png">
		</div>
	</div>
</div>