<div class="container-fluid h-100 overflow-hidden d-flex flex-row border border-0 border-light justify-content-center">
	<div class="d-flex flex-column border border-0 border-dark flex-grow-1 align-items-start justify-content-end">
		<div class="position-relative start-50 d-flex mb-5 border border-0 border-dark">
			<!-- <img class="py-5 mx-5" src="../assets/public/el--ball.png"> -->
			<h1 class="display-1 font--argent text-white p-0 m-0" style="font-size: calc(700% + 5vw); line-height: 0;">•
			</h1>
		</div>
		<div class="d-flex border border-0 border-dark m-5 p-5">
			<!-- <img class="py-5 mx-5" src="../assets/public/el--paddle.png"> -->
			<h1 class="display-1 font--neue text-white p-0 m-0" style="font-size: calc(1000% + 15vw); line-height: 0;">—
			</h1>
		</div>
	</div>
	<div class="d-flex flex-column border border-0 border-dark flex-grow-1 justify-content-center align-items-center">
		<h1 class="display-1 font--neue text-white p-0 m-0" style="font-size: calc(400% + 5vw);">☺</h1>
		<h1 class="display-2 font--argent text-white">PongOS</h1>
		<button type="button" class="btn btn-light btn-lg px-3 py-1 rounded-1">
			<a class="nav-link"
				href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-0e2877b6d1b69c5805c3c8f10098f1e1db158ebc64c762967ad3d84f0e655b8f&redirect_uri=https%3A%2F%2F10.11.6.2%3A9090%2F&response_type=code">
				<p class="font--argent display-5 text-black p-0 m-0 g-0" style="font-size: calc(100% + 1vw);">Unlock</p>
			</a>
		</button>
	</div>
	<div class="d-flex flex-column border border-0 border-dark flex-grow-1 align-items-end justify-content-start">
		<div class="d-flex border border-0 border-dark m-5 p-5">
			<!-- <img class="py-5 mx-5" src="../assets/public/el--paddle.png"> -->
			<h1 class="display-1 font--neue text-white p-0 m-0" style="font-size: calc(1000% + 15vw); line-height: 0;">—
			</h1>
		</div>
	</div>
	<!-- <div class="toast-container rounded-1 position-fixed top-50 end-0 me-5 translate-middle-y border border-0 border-white"
		id="toast">
		<div id="mainToast" class="toast rounded-1" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="toast-header bg-black p-2 rounded-0">
				<button type="button" class="d-flex border border-0 border-light bg-transparent" data-bs-dismiss="toast"
					aria-label="Close">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
						<path
							d="M2.21736 20H4.44931V17.7697H6.66667V15.5539H8.88403V13.3382H11.116V15.5539H13.3333V17.7697H15.5653V20H17.7826V17.7697H20V15.5539H17.7826V13.3382H15.5653V11.1079H13.3333V8.89213H15.5653V6.67639H17.7826V4.44606H20V2.23032H17.7826V0H15.5653V2.23032H13.3333V4.44606H11.116V6.67639H8.88403V4.44606H6.66667V2.23032H4.44931V0H2.21736V2.23032H0V4.44606H2.21736V6.67639H4.44931V8.89213H6.66667V11.1079H4.44931V13.3382H2.21736V15.5539H0V17.7697H2.21736V20Z"
							fill="#E1E0DF" />
					</svg>
				</button>
			</div>
			<div class="toast-body my-5 font--argent text-center border border-0 border-dark"
				style="font-size: calc(75% + 0.2vw);">
				Hello, world! This is a toast message.
			</div>
		</div>
	</div> -->
</div>