<div class="container">

	<div class="row" id="profile-container">
		<div class="card">
			<div class="row g-0">

				<div class="col-4 border border-1 border-dark">
					<div class="row row-cols-2">
						<div class="col">
							<div>
								<input type="file" accept="image/*" name="image" id="file" style="display: none;">
								<label for="file" style="cursor: pointer;">Upload Image</label>
								<img id="output" width="200" />
							</div>
							<button id="uploadButton">Upload</button>
							<img src="./assets/public/users/ghost.svg" alt="Avatar"
								class="img-fluid rounded-start"></img>
						</div>
						<div class="col card-body">
							<h5 class="card-title">username</h5>
							<p class="card-text text-lowercase">online status</p>
						</div>
					</div>
				</div>

				<div class="col-4 border border-1 border-dark">
					<div class="card-body">
						<h5 class="card-title text-capitalize">00 tounaments wins</h5>
						<h5 class="card-title text-capitalize">00 games won</p>
					</div>
				</div>

				<div class="col-4 border border-1 border-dark">
					<div class="p-2">enable 2fa</div>
					<div class="p-2">language</div>
				</div>

			</div>
		</div>
	</div>

	<div class="row" id="profile-lower">

		<div class="col">
			<div class="d-flex">
				<div class="col">
					<div class="d-flex align-items-start">
						<div class="p-2">
							<img src="./assets/public/users/ghost.svg" alt="Avatar" class="avatar"></img>
						</div>
						<div class="p-2">name</div>
					</div>
					<div class="d-flex align-items-start">
						<div class="p-2">
							<img src="./assets/public/users/ghost.svg" alt="Avatar" class="avatar"></img>
						</div>
						<div class="p-2">name</div>
					</div>
					<div class="d-flex align-items-start">
						<div class="p-2">
							<img src="./assets/public/users/ghost.svg" alt="Avatar" class="avatar"></img>
						</div>
						<div class="p-2">name</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col" style="width: 75%;">
			<div class="col">
				<div class="d-flex align-items-stretch justify-content-between">
					<div class="p-2">name</div>
					<div class="p-2">
						<img src="./assets/public/users/ghost.svg" alt="Avatar" class="avatar"></img>
					</div>
					<div class="p-2">statistics</div>
					<div class="p-2">
						<img src="./assets/public/users/ghost.svg" alt="Avatar" class="avatar"></img>
					</div>
					<div class="p-2">name</div>
				</div>
				<div class="d-flex align-items-stretch justify-content-between">
					<div class="p-2">name</div>
					<div class="p-2">
						<img src="./assets/public/users/ghost.svg" alt="Avatar" class="avatar"></img>
					</div>
					<div class="p-2">statistics</div>
					<div class="p-2">
						<img src="./assets/public/users/ghost.svg" alt="Avatar" class="avatar"></img>
					</div>
					<div class="p-2">name</div>
				</div>
				<div class="d-flex align-items-stretch justify-content-between">
					<div class="p-2">name</div>
					<div class="p-2">
						<img></img>
					</div>
					<div class="p-2">statistics</div>
					<div class="p-2">
						<img></img>
					</div>
					<div class="p-2">name</div>
				</div>
			</div>
		</div>

	</div>

</div>