<div class=".flex-column" id="profile-container" style="width: 100%; height: 100%;">
	<div class="d-flex align-items-stretch justify-content-between" id="profile-upper" style="height: 30%;">
		<div class="d-flex align-items-stretch justify-content-between">
			<div class="p-2">
				<img src="./assets/public/users/ghost.svg" alt="Avatar" class="avatar"></img>
			</div>
			<div class="p-2">name</div>
		</div>
		<div class=".flex-column ">
			<div class="p-2">tounaments wins</div>
			<div class="p-2">games won</div>
		</div>
		<div class=".flex-column ">
			<div class="p-2">enable 2fa</div>
			<div class="p-2">language</div>
		</div>
	</div>
	<div class="d-flex align-items-stretch justify-content-between" id="profile-lower">

		<div class="d-flex">
			<div class=".flex-column ">
				<div class="d-flex align-items-start">
					<div class="p-2">
						<img src="./assets/public/users/ghost.svg" alt="Avatar" class="avatar"></img>
					</div>
					<div class="p-2">name</div>
				</div>
				<div class="d-flex align-items-start">
					<div class="p-2">
						<img src="./assets/public/users/ghost.svg" alt="Avatar" class="avatar"></img>
					</div>
					<div class="p-2">name</div>
				</div>
				<div class="d-flex align-items-start">
					<div class="p-2">
						<img src="./assets/public/users/ghost.svg" alt="Avatar" class="avatar"></img>
					</div>
					<div class="p-2">name</div>
				</div>

			</div>
		</div>
		<div class="d-flex" style="width: 75%;">
			<div class=".flex-column ">
				<div class="d-flex align-items-stretch justify-content-between">
					<div class="p-2">name</div>
					<div class="p-2">
						<img src="./assets/public/users/ghost.svg" alt="Avatar" class="avatar"></img>
					</div>
					<div class="p-2">statistics</div>
					<div class="p-2">
						<img src="./assets/public/users/ghost.svg" alt="Avatar" class="avatar"></img>
					</div>
					<div class="p-2">name</div>
				</div>
				<div class="d-flex align-items-stretch justify-content-between">
					<div class="p-2">name</div>
					<div class="p-2">
						<img src="./assets/public/users/ghost.svg" alt="Avatar" class="avatar"></img>
					</div>
					<div class="p-2">statistics</div>
					<div class="p-2">
						<img src="./assets/public/users/ghost.svg" alt="Avatar" class="avatar"></img>
					</div>
					<div class="p-2">name</div>
				</div>
				<div class="d-flex align-items-stretch justify-content-between">
					<div class="p-2">name</div>
					<div class="p-2">
						<img></img>
					</div>
					<div class="p-2">statistics</div>
					<div class="p-2">
						<img></img>
					</div>
					<div class="p-2">name</div>
				</div>
			</div>
		</div>
	</div>
</div>