<div class="container p-5 h-100 w-100 mh-100 mw-100 overflow-auto bg-black border border-1 border-white">
    <div class="d-flex flex-row w-100 justify-content-around">
		<div class="d-flex flex-row w-100 flex-grow-1 flex-wrap gap-5 pt-5 justify-content-start border border-0 border-white">
		{% if tournaments %}
        	{% for tournament in tournaments %}
				<div class="card w-25 align-self-baseline">
					<div class="card-body d-flex flex-column justify-content-around font--argent">
						<p id="tname" class="card-title h3">{{tournament.name}}</p>
						<p id="tcount" class="card-text flex-grow-1 h-5">{{tournament.count}}/{4}</p>
						<button type="button" id="joinTourn" class="container-fluid btn btn-outline-dark text-capitalize rounded">Join</button>
					</div>
				</div>
			{% endfor %}
		{% endif %}
        </div>
        <div class="card rounded-0 align-self-baseline">
            <div class="card-body d-flex flex-column justify-content-around font--argent">
                <form>
                    <p class="card-title text-uppercase text-center h3">CREATE TOURNAMENT</p>

                    <label for="tournamentName" class="form-label text-capitalize">tournament name</label>
                    <input type="text" class="form-control border border-1 border-black" id="tournamentName" 
                        aria-describedby="tournamentName">
                    <button type="button" id="createTourn"
                        class="btn btn-outline-dark text-center text-capitalize rounded mt-4">create</button>
                </form>
            </div>
        </div>
    </div>
</div>