{% extends 'base.html' %} {% block content %}
  {% if user.is_2fa_enabled == True %}
    <form action="{% url '2fa' %}" method="POST">
      {% csrf_token %}
      <input type="text" name="otp" placeholder="Enter OTP" />
      <br />
      <button type="submit" class="btn btn-primary">Verify OTP</button>
    </form>
    <br />
  {% endif %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endblock %}
