{% extends "base.html" %} {% block content %}

<form id="2faForm" action="{% url 'enable_or_disable_2fa' %}" method="post">
  {% csrf_token %}
  <button id="submitButton" type="submit" class="btn btn-primary">
    {% if user.is_2fa_enabled == False %}
      {{ 'Enable 2FA' }}
    {% else %}
      {{ 'Disable 2FA' }}
    {% endif %}
  </button>
</form>
{% if messages %} {% for message in messages %}
<div class="alert alert-{{message.tags}}">{{message}}</div>
{% endfor %} {% endif%} 

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('2faForm').addEventListener('submit', function() {
      document.getElementById('submitButton').disabled = true;
    });
  });
</script>

{% endblock %}