<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <title>Pongos</title>
    {% load bootstrap5 %}
  </head>
  <body>
    <div class="container">
      <div id="main">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <strong>Using URLs</strong>
                <p>
                  Need to configure the webserver to serve the index.html for SPA Route Paths. This option is better for SEO and is more user friendly.<br />
                  <small>Use cases: Websites</small>
                </p>
                <nav>
                  <a href="/">Home</a>
                  <a href="/admin">About</a>
                  <a href="/contact">Contact</a>
                  <div class="home-container"></div>
                </nav>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div id="content">
              <form id="login-form">
                <button type="submit">Login</button>
              </form>
            </div>
            <br />
            <br />
            <br />
            <button id="get-home" onClick="homeView()">get home</button>
            <div class="home-container"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/url-router.js"></script>
    <script>
      function homeView() {
        fetch('/home/')
          .then((response) => response.text())
          .then((html) => {
            console.log(html)
            // Insert the retrieved HTML into your page
            document.getElementsByClassName('home-container')[0].innerHTML = html
          })
          .catch((error) => {
            console.error('Error:', error)
          })
      }
      document.getElementById('login-form').addEventListener('submit', function (event) {
        event.preventDefault() // Prevent default form submission
      
        const formData = new FormData(this)
        fetch('/login/', {
          method: 'POST',
          body: formData
        })
          .then((response) => {
            window.location.href = 'https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-69155ca3ecf1f57fa6e8660a9988bbdd7f03a45128ea80a454d6f13939c4bca5&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fauth&response_type=code' // Redirect to dashboard
          })
          .catch((error) => {
            console.error('Login failed:', error)
            // Show an error message or handle login failure
          })
      })
    </script>
  </body>
</html>
